header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.img {
    background-image: url("../images/AirBnB-logo.png");
    height: 100%;
    width: 10%;
    min-width: 100px;
    max-width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
  }
